<div id="mainDiv">
<div style=" display: inline-block; padding: 20px;">
      <input id="inputText" type="text" placeholder="Search for a vegetable.." [(ngModel)]="str1"/>     
      <button id="inputbtn" class="btn btn-default" type="button" (click)="inputFunc()"><span class="glyphicon glyphicon-search"></span></button>
      <button id="inputbtn" class="btn btn-default" type="button" (click)="clearFunc()"><span class="glyphicon glyphicon-erase"></span></button>
      <button id="inputbtn" class="btn btn-default" type="button" (click)="addVeg()"><span class="glyphicon glyphicon-plus"></span></button>
 
 </div>
</div>


 
    